
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>exmp15</title>
</head>
<body>
    <div>
        @Html.Partial("PhotoAlbam");
    </div>
</body>
</html>
