
<style>
    h2
    {
        text-align:center;
        text-shadow:3px 4px 2px violet;
        font-size:40px;
    }

</style>
<h2> page layout </h2>

<h4>example - 14  ==> creating view from the shared folder and linking CSS to it &Aacute; creating controller ,view </h4>

<li>@Html.ActionLink("page_layout", "layout", "Annotations", new { area = "" }, new { @class = "nav-link" })</li>

<br /><br />

<h2> partial view </h2>
<h4>Displaying Images using partical view create view using shared folder</h4>

<li>@Html.ActionLink("partiall_view", "exmp15", "Annotations", new { area = "" }, new { @class = "nav-link" })</li>

