
@{
    ViewBag.Title = "validations";
}

<h2>validations  => Data Annatations </h2>

<h3> example-12 =========> Movie Details </h3>

<li>@Html.ActionLink("exmp-12", "movie", "Annotations", new { area = "" }, new { @class = "nav-link" })</li>
<br />
<br />

<h3> Example- 13====> username,password,cpassword Validations ====>exmp</h3>

<li>@Html.ActionLink("exmp-13", "exmp", "Annotations", new { area = "" }, new { @class = "nav-link" })</li>
<br />
<br />