body {
    background:pink;
}
h1
{
    text-align:center;
    background:lightyellow;
    color:red;
}

p
{
    text-align:center;
    background:gray;
    color:white;
    font-family:Arial;
    font-size:25px;
}
